USE [master]
GO
/****** Objeto: Database [EmpleateYa] Fecha de script: 30/05/2026 3:01:39 p. m. ******/
CREATE DATABASE [EmpleateYa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmpleateYa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmpleateYa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EmpleateYa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\EmpleateYa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmpleateYa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmpleateYa]
GO
/****** Objeto: Table [dbo].[empresa] Fecha de script: 30/05/2026 3:01:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[empresa](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NULL,
	[correo] [varchar](50) NULL,
	[telefono] [varchar](25) NULL,
	[direccion] [varchar](50) NULL,
	[sector] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[oferta] Fecha de script: 30/05/2026 3:01:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[oferta](
	[id_oferta] [int] IDENTITY(1,1) NOT NULL,
	[id_empresa] [int] NULL,
	[titulo] [varchar](50) NULL,
	[descripcion] [varchar](500) NULL,
	[salario] [varchar](30) NULL,
	[modalidad] [varchar](40) NULL,
	[fecha_publicacion] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_oferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[postulacion] Fecha de script: 30/05/2026 3:01:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[postulacion](
	[id_postulacion] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_oferta] [int] NULL,
	[fecha_postulacion] [date] NULL,
	[estado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_postulacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[usuario] Fecha de script: 30/05/2026 3:01:39 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuario](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](80) NULL,
	[num_documento_identidad] [varchar](80) NULL,
	[correo] [varchar](50) NULL,
	[ciudad] [varchar](50) NULL,
	[experiencia] [varchar](250) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[empresa] ON 

INSERT [dbo].[empresa] ([id_empresa], [nombre], [correo], [telefono], [direccion], [sector]) VALUES (1, N'Microsoft', N'contacto@microsoft.com', N'3001111111', N'Bogotá', N'Tecnología')
INSERT [dbo].[empresa] ([id_empresa], [nombre], [correo], [telefono], [direccion], [sector]) VALUES (2, N'Google', N'empleos@google.com', N'3002222222', N'Bogotá', N'Tecnología')
INSERT [dbo].[empresa] ([id_empresa], [nombre], [correo], [telefono], [direccion], [sector]) VALUES (3, N'Amazon', N'rrhh@amazon.com', N'3003333333', N'Medellín', N'Comercio')
SET IDENTITY_INSERT [dbo].[empresa] OFF
GO
SET IDENTITY_INSERT [dbo].[oferta] ON 

INSERT [dbo].[oferta] ([id_oferta], [id_empresa], [titulo], [descripcion], [salario], [modalidad], [fecha_publicacion]) VALUES (1, 1, N'Desarrollador .NET', N'Desarrollo de aplicaciones empresariales', N'4500000', N'Híbrido', CAST(N'2026-06-01' AS Date))
INSERT [dbo].[oferta] ([id_oferta], [id_empresa], [titulo], [descripcion], [salario], [modalidad], [fecha_publicacion]) VALUES (2, 2, N'Ingeniero de Software', N'Desarrollo de plataformas web', N'6000000', N'Remoto', CAST(N'2026-06-02' AS Date))
INSERT [dbo].[oferta] ([id_oferta], [id_empresa], [titulo], [descripcion], [salario], [modalidad], [fecha_publicacion]) VALUES (3, 3, N'Analista de Datos', N'Análisis y reportes de información', N'4000000', N'Remoto', CAST(N'2026-06-03' AS Date))
SET IDENTITY_INSERT [dbo].[oferta] OFF
GO
SET IDENTITY_INSERT [dbo].[postulacion] ON 

INSERT [dbo].[postulacion] ([id_postulacion], [id_usuario], [id_oferta], [fecha_postulacion], [estado]) VALUES (1, 1, 2, CAST(N'2026-06-11' AS Date), N'Pendiente')
INSERT [dbo].[postulacion] ([id_postulacion], [id_usuario], [id_oferta], [fecha_postulacion], [estado]) VALUES (2, 2, 4, CAST(N'2026-06-11' AS Date), N'Pendiente')
INSERT [dbo].[postulacion] ([id_postulacion], [id_usuario], [id_oferta], [fecha_postulacion], [estado]) VALUES (3, 3, 7, CAST(N'2026-06-12' AS Date), N'Aprobada')
SET IDENTITY_INSERT [dbo].[postulacion] OFF
GO
SET IDENTITY_INSERT [dbo].[usuario] ON 

INSERT [dbo].[usuario] ([id_usuario], [nombre], [num_documento_identidad], [correo], [ciudad], [experiencia]) VALUES (1, N'Juan Perez', N'1001001', N'juan@gmail.com', N'Bogotá', N'2 años como programador')
INSERT [dbo].[usuario] ([id_usuario], [nombre], [num_documento_identidad], [correo], [ciudad], [experiencia]) VALUES (2, N'Maria Gomez', N'1001002', N'maria@gmail.com', N'Medellín', N'1 año en ventas')
INSERT [dbo].[usuario] ([id_usuario], [nombre], [num_documento_identidad], [correo], [ciudad], [experiencia]) VALUES (3, N'Carlos Ruiz', N'1001003', N'carlos@gmail.com', N'Cali', N'3 años en soporte técnico')
SET IDENTITY_INSERT [dbo].[usuario] OFF
GO
ALTER TABLE [dbo].[oferta]  WITH CHECK ADD FOREIGN KEY([id_empresa])
REFERENCES [dbo].[empresa] ([id_empresa])
GO
ALTER TABLE [dbo].[postulacion]  WITH CHECK ADD FOREIGN KEY([id_oferta])
REFERENCES [dbo].[oferta] ([id_oferta])
GO
ALTER TABLE [dbo].[postulacion]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[usuario] ([id_usuario])
GO
USE [master]
GO

select getdate();